body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #F2F2F2;
}

h2 {
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.tab-content, .buddy-up {
  background-color: #ffffff;
}
.tab-content .tab-pane, .buddy-up .tab-pane {
  padding: 15px 0;
}
.tab-content h3, .buddy-up h3 {
  margin: 0 15px 15px 15px;
  font-size: 26px;
  color: #5AB5EE;
  position: relative;
}
.tab-content h3 button, .buddy-up h3 button {
  position: absolute;
  right: 0;
  bottom: -5px;
  font-size: 14px;
}
.tab-content form .form-group, .buddy-up form .form-group {
  position: relative;
}
.tab-content form .form-group.col-6, .buddy-up form .form-group.col-6 {
  width: 50%;
  display: inline-block;
  padding: 0 15px;
}
.tab-content form .form-group label, .buddy-up form .form-group label {
  color: #95989a;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 18px;
  left: 25px;
}
.tab-content form .form-control, .buddy-up form .form-control {
  height: 60px;
  font-size: 18px;
  color: #333333DE;
  font-weight: 600;
  padding-top: 20px;
}
.tab-content form .form-control:focus ~ label, .buddy-up form .form-control:focus ~ label {
  top: 6px;
}
.tab-content form textarea.form-control, .buddy-up form textarea.form-control {
  width: 100%;
  display: block;
  height: 150px;
  border-radius: 4px;
}

.addNewCase .modal-header {
  border-bottom: 0px solid transparent;
}
.addNewCase .modal-header h4 {
  color: #5AB5EE;
}
.addNewCase .modal-header .close {
  border: 1px solid #5AB5EE;
  color: #5AB5EE;
  padding: 3px 7px 2px;
  border-radius: 50%;
  opacity: 1;
}
.addNewCase .modal-body {
  padding: 0 15px;
}
.addNewCase .modal-body p {
  font-weight: 800;
}
.addNewCase .modal-body form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 4px;
}
.addNewCase .modal-footer {
  border-top: 0px solid transparent;
  text-align: left;
}
.addNewCase .modal-footer button {
  background-color: #5AB5EE;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #F2F2F2;
}

h2 {
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.tab-content, .buddy-up {
  background-color: #ffffff;
}
.tab-content .tab-pane, .buddy-up .tab-pane {
  padding: 15px 0;
}
.tab-content h3, .buddy-up h3 {
  margin: 0 15px 15px 15px;
  font-size: 26px;
  color: #5AB5EE;
  position: relative;
}
.tab-content h3 button, .buddy-up h3 button {
  position: absolute;
  right: 0;
  bottom: -5px;
  font-size: 14px;
}
.tab-content form .form-group, .buddy-up form .form-group {
  position: relative;
}
.tab-content form .form-group.col-6, .buddy-up form .form-group.col-6 {
  width: 50%;
  display: inline-block;
  padding: 0 15px;
}
.tab-content form .form-group label, .buddy-up form .form-group label {
  color: #95989a;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 18px;
  left: 25px;
}
.tab-content form .form-control, .buddy-up form .form-control {
  height: 60px;
  font-size: 18px;
  color: #333333DE;
  font-weight: 600;
  padding-top: 20px;
}
.tab-content form .form-control:focus ~ label, .buddy-up form .form-control:focus ~ label {
  top: 6px;
}
.tab-content form textarea.form-control, .buddy-up form textarea.form-control {
  width: 100%;
  display: block;
  height: 150px;
  border-radius: 4px;
}

.addNewCase .modal-header {
  border-bottom: 0px solid transparent;
}
.addNewCase .modal-header h4 {
  color: #5AB5EE;
}
.addNewCase .modal-header .close {
  border: 1px solid #5AB5EE;
  color: #5AB5EE;
  padding: 3px 7px 2px;
  border-radius: 50%;
  opacity: 1;
}
.addNewCase .modal-body {
  padding: 0 15px;
}
.addNewCase .modal-body p {
  font-weight: 800;
}
.addNewCase .modal-body form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 4px;
}
.addNewCase .modal-footer {
  border-top: 0px solid transparent;
  text-align: left;
}
.addNewCase .modal-footer button {
  background-color: #5AB5EE;
  color: #ffffff;
}

.login-container {
  height: 100vh;
}
.login-container .login-poster, .login-container .login-form {
  vertical-align: middle;
  height: 100vh;
  width: 50%;
  display: inline-block;
}
.login-container .login-poster {
  background-color: #cbcdcc;
  float: left;
}
.login-container .login-form h2 {
  color: #5AB5EE;
}
.login-container .login-form p, .login-container .login-form label {
  font-size: 16px;
  color: #333333DE;
}
.login-container .login-form .rememberMe, .login-container .login-form .forgetPassword {
  display: inline-block;
  width: 50%;
  float: left;
}
.login-container .login-form .forgetPassword {
  text-align: right;
}
.login-container .login-form .login-btn {
  text-align: center;
  clear: both;
  padding-top: 34px;
}
.login-container .login-form .login-btn .btn {
  width: 100%;
  background-color: #5AB5EE;
  border-color: #5AB5EE;
}
.login-container .login {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.chooseChild {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chooseChild .wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
}
.chooseChild .wrapper h2 {
  margin-bottom: 40px;
  margin-top: 0;
  text-align: left;
}
.chooseChild .wrapper ul.list li {
  display: inline-block;
  width: 100%;
  text-align: center;
  max-width: 175px;
  padding: 8%;
  border-radius: 50%;
  margin: 0 10px;
  position: relative;
}
.chooseChild .wrapper ul.list li a {
  color: transparent;
  font-size: 29px;
  font-weight: 800;
  position: relative;
}
.chooseChild .wrapper ul.list li a:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 46px;
  border-right: 1px solid #ffffff00;
  border-radius: 50%;
  bottom: -36px;
  left: -24px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff0;
  border-left: 1px solid #ffffff00;
  transform: rotateX(-16deg);
}
.chooseChild .wrapper ul.list li:before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  left: 45px;
  top: 60px;
}
.chooseChild .wrapper ul.list li:after {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  right: 45px;
  top: 60px;
}
.chooseChild .wrapper ul.list li:nth-child(1) {
  background-color: #266745;
}
.chooseChild .wrapper ul.list li:nth-child(2) {
  background-color: #844825;
}
.chooseChild .wrapper ul.list li:nth-child(3) {
  background-color: #252884;
}
.chooseChild .wrapper ul.list li:nth-child(4) {
  background-color: #84255a;
}
.chooseChild .wrapper ul.list li span {
  position: absolute;
  bottom: -42px;
  left: 0;
  right: 0;
  font-size: 20px;
  font-weight: 600;
}

/* The container */
label.container {
  display: inline-block;
  max-width: 90px;
  width: 100%;
  height: 80px;
  margin: 0 5px;
}
label.container b {
  font-size: 14px;
  color: #B5B5B5;
  position: absolute;
  left: 0;
  right: 0;
  top: 66px;
  font-weight: lighter;
  text-align: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 80px;
  width: 100%;
  right: 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #eee;
}

.parents .checkmark:after {
  background-image: url(../../assets/images/png/family.png);
}

.school .checkmark:after {
  background-image: url(../../assets/images/png/teacher.png);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  /*background-color: #ccc;*/
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ b {
  color: #5AB5EE;
}

.container input:checked ~ span {
  border: 1px solid #5AB5EE;
}

.parents.container input:checked ~ .checkmark:after {
  background-image: url(../../assets/images/png/family-hover.png);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 56px;
  height: 51px;
  margin: 0 auto;
  right: 0;
  bottom: 0;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
/*.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}*/
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #F2F2F2;
}

h2 {
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.tab-content, .buddy-up {
  background-color: #ffffff;
}
.tab-content .tab-pane, .buddy-up .tab-pane {
  padding: 15px 0;
}
.tab-content h3, .buddy-up h3 {
  margin: 0 15px 15px 15px;
  font-size: 26px;
  color: #5AB5EE;
  position: relative;
}
.tab-content h3 button, .buddy-up h3 button {
  position: absolute;
  right: 0;
  bottom: -5px;
  font-size: 14px;
}
.tab-content form .form-group, .buddy-up form .form-group {
  position: relative;
}
.tab-content form .form-group.col-6, .buddy-up form .form-group.col-6 {
  width: 50%;
  display: inline-block;
  padding: 0 15px;
}
.tab-content form .form-group label, .buddy-up form .form-group label {
  color: #95989a;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 18px;
  left: 25px;
}
.tab-content form .form-control, .buddy-up form .form-control {
  height: 60px;
  font-size: 18px;
  color: #333333DE;
  font-weight: 600;
  padding-top: 20px;
}
.tab-content form .form-control:focus ~ label, .buddy-up form .form-control:focus ~ label {
  top: 6px;
}
.tab-content form textarea.form-control, .buddy-up form textarea.form-control {
  width: 100%;
  display: block;
  height: 150px;
  border-radius: 4px;
}

.addNewCase .modal-header {
  border-bottom: 0px solid transparent;
}
.addNewCase .modal-header h4 {
  color: #5AB5EE;
}
.addNewCase .modal-header .close {
  border: 1px solid #5AB5EE;
  color: #5AB5EE;
  padding: 3px 7px 2px;
  border-radius: 50%;
  opacity: 1;
}
.addNewCase .modal-body {
  padding: 0 15px;
}
.addNewCase .modal-body p {
  font-weight: 800;
}
.addNewCase .modal-body form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 4px;
}
.addNewCase .modal-footer {
  border-top: 0px solid transparent;
  text-align: left;
}
.addNewCase .modal-footer button {
  background-color: #5AB5EE;
  color: #ffffff;
}

.userPage {
  background-color: #F2F2F2;
}
.userPage .navbar-inverse {
  background-color: #ffffff;
  border-radius: 0px;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}
.userPage .wrapper {
  background-color: #F2F2F2;
  margin: 0 15px;
}
.userPage .wrapper .col-4 {
  width: 23.8%;
  padding: 0 10px 20px;
  display: inline-block;
  background-color: #ffffff;
  height: 100%;
  bottom: 0;
  position: fixed;
  top: 75px;
}
.userPage .wrapper .col-4 ul li {
  display: inline-block;
  margin: 20px 8px 0px;
  text-align: center;
  float: left;
  position: relative;
}
.userPage .wrapper .col-4 ul li a {
  width: 130px;
  height: 110px;
  background-color: #F2F2F2;
  display: inline-block;
  color: #333333DE;
  font-size: 16px;
  padding: 0px 10px;
  border-radius: 5px;
}
.userPage .wrapper .col-4 ul li a span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  padding: 0 5px;
}
.userPage .wrapper .col-4 ul li.info a:before {
  background-image: url(../../assets/images/png/businessman.png);
}
.userPage .wrapper .col-4 ul li.Buddy a:before {
  background-image: url(../../assets/images/png/friend.png);
}
.userPage .wrapper .col-4 ul li.health a:before {
  background-image: url(../../assets/images/png/care.png);
}
.userPage .wrapper .col-4 ul li.activity a:before {
  background-image: url(../../assets/images/png/track.png);
}
.userPage .wrapper .col-4 ul li.articles a:before {
  background-image: url(../../assets/images/png/article.png);
}
.userPage .wrapper .col-4 ul li.notification a:before {
  background-image: url(../../assets/images/png/mail.png);
}
.userPage .wrapper .col-4 ul li.payments a:before {
  background-image: url(../../assets/images/png/wallet.png);
}
.userPage .wrapper .col-4 ul li.active a {
  background-color: #5AB5EE;
  color: #ffffff;
  position: relative;
}
.userPage .wrapper .col-4 ul li a:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  background-repeat: no-repeat;
}
.userPage .wrapper .col-4 ul li.info.active a:before {
  background-image: url(../../assets/images/png/businessman-hover.png);
}
.userPage .wrapper .col-4 ul li.Buddy.active a:before {
  background-image: url(../../assets/images/png/friend-hover.png);
}
.userPage .wrapper .col-4 ul li.health.active a:before {
  background-image: url(../../assets/images/png/care-hover.png);
}
.userPage .wrapper .col-4 ul li.activity.active a:before {
  background-image: url(../../assets/images/png/friend.png);
}
.userPage .wrapper .col-4 ul li.articles.active a:before {
  background-image: url(../../assets/images/png/friend.png);
}
.userPage .wrapper .col-4 ul li.notification.active a:before {
  background-image: url(../../assets/images/png/friend.png);
}
.userPage .wrapper .col-4 ul li.payments.active a:before {
  background-image: url(../../assets/images/png/friend.png);
}
.userPage .wrapper .col-8 {
  clear: both;
  display: inline-block;
  width: 74%;
  vertical-align: top;
  margin: 75px 0 0 343px;
  height: calc(100% - 75px);
  background-color: #ffffff;
}
.userPage .wrapper .col-8 .right-container {
  background-color: #F2F2F2;
  display: none;
}
.userPage .wrapper .col-8 .right-container .buddy-list {
  margin: 0 15px 15px;
  background-color: #eee;
  padding: 15px 0;
  border-radius: 5px;
}
.userPage .wrapper .col-8 .right-container .buddy-list h4 {
  font-size: 20px;
  margin: 0 15px 15px 15px;
  color: #5AB5EE;
  position: relative;
}
.userPage .wrapper .col-8 .right-container .buddy-list h4 span {
  padding: 4px 10px;
  font-size: 15px;
  background-color: rgba(2, 181, 51, 0.15);
  color: #02b533;
  border-radius: 5px;
  margin-left: 10px;
}
.userPage .wrapper .col-8 .right-container .buddy-list h4 button {
  position: absolute;
  right: 0;
  top: -5px;
}
.userPage .wrapper .col-8 .right-container .pending h4 span {
  background-color: #ffe7d3;
  color: #ff8e2f;
}
.userPage .wrapper .col-8 .health-status .tab-pane > h3 {
  margin-left: 40px;
  font-size: 24px;
}
.userPage .wrapper .col-8 .health-status .desc {
  background-color: #eee;
  margin: 0 15px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.userPage .wrapper .col-8 .health-status .desc .health-describ {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
.userPage .wrapper .col-8 .right-container.active {
  display: block;
}
.userPage .wrapper .col-8 #buddy-up, .userPage .wrapper .col-8 #health-status {
  clear: both;
}
.userPage .wrapper .col-8 section#buddy-up {
  background-color: #fff;
  padding: 15px 0;
}
.userPage .wrapper .col-8 .nav-tabs {
  margin-bottom: 20px;
  border-bottom: 0px solid transparent;
  background-color: #ffffff;
  padding: 15px 15px 0;
}
.userPage .wrapper .col-8 .nav-tabs li {
  margin-bottom: -2px;
  padding: 0 10px;
}
.userPage .wrapper .col-8 .nav-tabs li a {
  color: #95989A;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}
.userPage .wrapper .col-8 .nav-tabs li a:hover {
  border-color: transparent;
  background-color: transparent;
  border-bottom: 2px solid #5AB5EE;
  font-weight: bold;
  color: #5AB5EE;
}
.userPage .wrapper .col-8 .nav-tabs li.active a {
  font-weight: bold;
  color: #5AB5EE;
  border: 0px solid transparent;
  border-bottom: 2px solid #5AB5EE;
}
.userPage .wrapper .col-8 .emg-dtl button.dropdown-toggle {
  color: #95989a;
  background-color: #ffffff;
  border-color: #ccc;
  border-radius: 4px;
  padding: 15px;
  height: 59px;
  width: 100%;
  text-align: left;
  position: relative;
}
.userPage .wrapper .col-8 .emg-dtl button.dropdown-toggle:after {
  content: "";
  position: absolute;
  right: 15px;
  height: 10px;
  width: 10px;
  top: 20px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #ccc;
  transform: rotate(45deg);
  border-left: 5px solid transparent;
  border-right: 5px solid #ccc;
}
.userPage .wrapper .col-8 .emg-dtl button.dropdown-toggle.set {
  font-size: 18px;
  color: #333333DE;
  font-weight: 600;
}
.userPage .wrapper .col-8 .emg-dtl ul.dropdown-menu {
  width: 100%;
}
.userPage .wrapper .col-8 .emg-dtl span.emergency_success, .userPage .wrapper .col-8 .emg-dtl span.emergency_error {
  float: left;
  clear: both;
  margin: 0 0 20px 20px;
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  display: none;
}
.userPage .wrapper .col-8 .emg-dtl span.emergency_success {
  background-color: #4b8e4b;
}
.userPage .wrapper .col-8 .emg-dtl span.emergency_error {
  background-color: #c53232;
}
.userPage .wrapper .col-8 .emg-dtl button.update {
  color: #fff;
  background-color: #5AB5EE;
  border-color: #5AB5EE;
  width: 200px;
  display: inline-block;
  margin: 0 0 15px 15px;
  padding: 10px 0;
  float: left;
  clear: both;
}

/*# sourceMappingURL=style.css.map */
