@import 'var.scss';
@import 'main.scss';
.logo img{
	width: 150px;
}
.login-container {
	height: 100%;
  background-color: rgba(191, 189, 189, 0.23);
  > div {
  display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;  	
  }	
	.login-poster,  .login-form {
    vertical-align: middle;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
	}
	.login-poster {
		background-color:#cbcdcc;
		float: left;
	}
	.login-form {
		h2 {
			color: $theme-color;
		}
		p, label{
			font-size: $f16;
			color: #333333DE;
		}
		.rememberMe, .forgetPassword {
			display: inline-block;
			width: 50%;
			float: left;
		} 
		.forgetPassword {
			text-align: right;
		}
		.login-btn {
			text-align: center;
    		clear: both;
    		padding-top: 34px;
    		.btn {
    			width: 100%;
    			background-color: $theme-color;
    			border-color: $theme-color;
    		}
		}
	    .socialLink {
border-radius: 50%;
    padding: 8px 10px;
    border: 1px solid #eee;
    margin: 4px;	
    &.facebook {
    	color: #1877f2;
    }
    &.twitter {
    	color: #1da1f2;
    }    	
    &.insta{
    	color: #c32aa3;
	    }	
	&.pin{
		color: #bd081c;
	}    	
    }
	}
	.login {
		max-width: 250px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: left;
	    .parents {
	    	.checkmark {
	    		background-color: rgba(10, 30, 43, 0.93);
				border-radius: 50px;
				top: 4px;
				height: 90px;
	    	}
	    }
	    .school {
	    	.checkmark {
	    		background-color: rgba(10, 30, 43, 0.93);
	    	}
	    }
	}
}

.chooseChild {
	width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
    	max-width: 800px;
	    margin: 0 auto;
	    display: block;
	    width: 100%;
	    height: auto;
	    h2 {
	    	margin-bottom: 40px;
	    	margin-top: 0;
	    	text-align: left;
	    }
	    ul.list {
	    	a {
	    		display: inline-block;
	    		vertical-align: top;
			    &:nth-child(1) {
			    	li {
			    	background-color: #266745;
			    	}
			    } 	
			    &:nth-child(2) {
			    	li {
			    		background-color: #844825;
			    	}
			    }
			    &:nth-child(3) {
			    	li {
			    		background-color: #252884;
			    	}
			    }
			    &:nth-child(4) {
			    	li {
			    		background-color: #84255a;
			    	}
			    }		    

	    	}
		    li {
				display: inline-block;
			    width: 150px;
			    text-align: center;
			    max-width: 150px;
			    height: 150px;
			    vertical-align: top;
			    padding: 0;
			    border-radius: 50%;
			    margin: 0 10px; 
			    position: relative;
			    a {
			    	color: transparent;
			    	font-size: 29px;
			    	font-weight: 800;
			    	position: relative;
			    	&:before {
						content: '';
					    position: absolute;
					    width: 70px;
					    height: 46px;
					    border-right: 1px solid #ffffff00;
					    border-radius: 50%;
					    bottom: -36px;
					    left: -24px;
					    border-bottom: 1px solid #fff;
					    border-top: 1px solid #fff0;
					    border-left: 1px solid #ffffff00;
					    transform: rotateX(-16deg);		    		
			    	}
			    }  
			    &:before{
			    	content: '';
				    position: absolute;
				    background-color: transparent;
				    width: 10px;
				    height: 10px;
				    border-radius: 50%;
				    border: 1px solid #fff;
				    left: 45px;
				    top: 60px;
			    }
			    &:after {
					content: '';
				    position: absolute;
				    background-color: transparent;
				    width: 10px;
				    height: 10px;
				    border-radius: 50%;
				    border: 1px solid #fff;
				    right: 45px;
				    top: 60px;		    	
			    }
		    }
			    span {
					display: block;
					max-width: 200px;		    	
			    }		    		    
	    }
	}    
}

.genMedical, .allergicReaction, .asthmaCare {
    clear: both;
    float: none;
    background-color: #fff;
}
.genMedical form, .asthmaCare form, .allergicReaction section {
    margin: 0px auto;
    text-align: left;
    padding: 10px 30px;
}
.tab-content form.asthmaForm .form-group input[type='checkbox'] + label { 
	top: 5px;
	padding-left: 7px;
}
.genMedical form > button {
	color: #fff;
  width: 120px;
    float: left;
    clear: both;
    border-radius: 0;
}
.newRes {
    margin: 40px 0px;
    text-align: center;  
}
.newRes button {
  border: none;
  background-color: transparent;
}
.newRes i  {
    border: 1px solid #000;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 50%;
}
.allergicReaction ul {
  list-style: disc;
    padding: 0;
    margin: 0 35px;
    line-height: 30px;
    font-size: 15px;
}
.allergicReaction section.item3 form {
  margin-top: 30px;
  width: 50%;

}
form#allergicReaction button {
  	border-radius: 0;
  	background-color: $theme-color;
  	border-color: transparent;
  }
.asthmaCare .asthmaForm input[type='checkbox'] {
    display: inline-block;
    box-shadow: none;
    vertical-align: middle;
    height: 20px;
    width: 20px;  
    margin-top: 5px;
}
.radioButton {
  float: right;
    margin: -1px 25% 0 0;
}
#asthmaAttack, #knowasthma {
  height: 150px;
}
.medicationPlan_container, .firstAid_container {
  margin: 25px 0;
}
#htab2 h3, #htab3 h3{
	margin-left: 25px;
}
#htab2 .form-group {
	margin-bottom: 40px;
}