@import 'var.scss';
@mixin inputStyle {
	font-size: 15px;
	color: $nav-font-color;
	font-weight: 400;
}
body {
	margin: 0;
	padding: 0;
	font-family: $font;
	background-color: $bg-white;
}
h2 {
	font-size: 28px;
}
ul {
	list-style: none;
    padding: 0;
    margin: 0 auto;	
}
.tab-content, .buddy-up, .allergicReaction {
	background-color: $bg-white;
	.tab-pane {
	    padding: 15px 0;
	}
    h3 {
    	margin: 0 15px 15px 25px;
    	font-size: 18px;
    	color:$theme-color;
    	position: relative;
    	button {
    		position: absolute;
    		right: 0;
    		bottom: -5px;
    		font-size: 14px;
    		border-radius: 0;
    	}
    }
    form {
    	margin: 10px; 
    	.form-group {
    		position: relative;
    		margin-top: 5px;
    	}
    	.form-group.col-6 {
    		width: 50%;
    		display: inline-block;
    		padding: 0 15px;
    	}
    	.form-group label{
    		color: $form-label;
    		font-size: 15px;
    		font-weight: 800;
    		position: absolute;
    		top: -25px;
    		/*display: none;*/
    	}
    	.form-control {
    		height: 45px; 
    		@include inputStyle;
    		padding-top: 6px;
			border-radius: 0;
    		box-shadow: none;
    		margin-bottom: 15px;    		
    	}
/*    	.form-control:focus ~ label {
    		top: 6px;
    	}*/
    	textarea.form-control {
    		width: 100%;
    		display: block;
    		height: 150px;
    		border-radius: 0px;
    		box-shadow: none;
    	}
    }
}
.addNewCase {
	.modal-header {
		border-bottom: 0px solid transparent;
		h4 {
			color: $theme-color;
		}
		.close {
			border: 1px solid $theme-color;
			color: $theme-color;
		    padding: 3px 7px 2px;
		    border-radius: 50%;
		    opacity: 1;
		}
	}
	.modal-body {
		padding: 0 15px;
		p {
			font-weight: 800;
		}
		form {
			textarea {
				width: 100%;
				height: 100px;
				resize: none;
				border-radius: 0px;
			}
		}
	}
	.modal-footer {
		border-top: 0px solid transparent;
		text-align: left;
		button {
			background-color: $theme-color;
			color: $bg-white;
			border-radius: 0;
		}
	}
}


.allergicReaction form .form-group {
	margin-top: 40px;
}