@import "var.scss";
@import "main.scss";
.userPage {
	background-color: $bg-white;
	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
		background-color: $theme-color !important;
		color: #fff !important;
	}
	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
		background-color: $theme-color !important;
		color: #fff !important;		
	}
	.navbar-inverse .navbar-nav > li > a {
		border-radius: 0;
	}
	.navbar-inverse {
		background-color: $bg-white;
		border-radius: 0px;
		margin-bottom: 20px;
		position: fixed;
	    width: 100%;
	    top: 0;
	    z-index: 3;
	    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
	    .navbar-nav {
	    	#notification {
	    		padding: 9px;
	    		&:focus {
	    			background-color: transparent;
	    		}
	    	}
	    	ul.dropdown-menu.notifications {
	    		min-width: 320px;
	    		top: 36px;
	    		right: -74px;
	    		> li.total {
	    			padding: 0 15px;
	    			color: rgba(54, 124, 186, 0.72);
	    			> a {
	    				padding: 0;
	    				text-transform: none;
	    				border-bottom: none;
	    				color: rgba(54, 124, 186, 0.72);
	    			}
	    			&:before {
						content: '';
					    width: 18px;
					    height: 18px;
					    background-color: #ffffff;
					    top: -10px;
					    right: 80px;
					    position: absolute;
					    margin: 0 auto;
					    transform: rotate(45deg);
					    z-index: -1;
					    border-left: 1px solid #f3f3f3;
					    border-top: 1px solid #f3f3f3;	    				
	    			}
	    		}
	    		> li.ps-container {
	    			margin: 0 15px;
    				border-top: 1px solid #eee;
    				.ps-scrollbar {
    					li {
							padding: 12px 0;
							border-bottom: 1px solid #eee;
							margin-bottom: 10px;    
							a {
								color: #707171;	
								span.name {
									span.time {
										display: block;
										line-height: 5px;
										color: rgba(152, 148, 148, 0.6);								
									}
								}
								& > div {
									display: inline-block;
									vertical-align: middle;
									&.notice-icon {
									    padding: 10px;
									    line-height: 0;
									    border-radius: 50%;
									    background-color: $theme-color;
									    margin-right: 10px;
									    color: #fff;
									}
								}
							}					
							&:last-child {
								margin-bottom: 0;
								border-bottom: none;
							}
    					}
    				}
	    		}
	    		> li.external {
	    			background-color: $theme-color;
	    			a {
	    				color: rgba(152, 148, 148, 0.6);
	    				text-transform: none;
	    				font-size: 14px;
	    				text-align: center;
	    				color: #fff;
	    			}
	    		}
	    	}
	    }		
	}
	.wrapper {
		background-color: $bg-white;
		margin: 0 15px;
		.col-4 {
			width: 23.8%;
			padding: 0 10px 20px;
			display: inline-block;
			background-color: $bg-white;
			height: 100%;
		    bottom: 0;
		    position: fixed;
		    top: 75px;			
		    min-width: 325px;
			ul {   			
				li {
					display: inline-block;
					margin: 0px 8px 20px;
					text-align: center;
					float: left;
				    position: relative;	
					a {
						width: 130px;
						height: 110px;
						background-color: $bg-white;
						display: inline-block;
						color: $theme-color; 
						font-size: $f16;
						padding: 0px 10px;
						border-radius: 0px;
						box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
						span {
						position: absolute;
					    left: 0;
					    right: 0;
					    bottom: 15px;
					    padding: 0 5px;
						}
					}
				}
				li.info a:before {					
					background-image: url(../../assets/images/png/businessman.png);
				}
				li.Buddy a:before {					
					background-image: url(../../assets/images/png/friend.png);
				}
				li.health a:before {					
					background-image: url(../../assets/images/png/care.png);
				}
				li.activity a:before {					
					background-image: url(../../assets/images/png/track.png);
				}
				li.articles a:before {					
					background-image: url(../../assets/images/png/article.png);
				}					li.notification a:before {					
					background-image: url(../../assets/images/png/mail.png);
				}				
				li.payments a:before {					
					background-image: url(../../assets/images/png/wallet.png);
				}
																						
				li.active {
					a {
						background-color: $theme-color;
						color: $bg-white;
						position: relative;
					}
				}
				li a:before {
					content: '';
					position: absolute;
					height: 40px;
					width: 40px;
					left: 0;
					right: 0;
					top: 20px;
					margin: auto;
					background-repeat: no-repeat;
				}						     
				li.info.active a:before {
					background-image: url(../../assets/images/png/businessman-hover.png);
				}
				li.Buddy.active a:before {
					background-image: url(../../assets/images/png/friend-hover.png);
				}
				li.health.active a:before {
					background-image: url(../../assets/images/png/care-hover.png);
				}
				li.activity.active a:before {
					background-image: url(../../assets/images/png/friend.png);
				}
				li.articles.active a:before {
					background-image: url(../../assets/images/png/friend.png);
				}
				li.notification.active a:before {
					background-image: url(../../assets/images/png/friend.png);
				}					
				li.payments.active a:before {
					background-image: url(../../assets/images/png/friend.png);
				}																			
			}			
		}
		.col-8 {
			clear: both;
			display: inline-block;
			width: 74%;
			vertical-align: top;
			margin: 75px 0 0 343px;
			height: calc(100% - 75px);
			background-color: $bg-white;
			box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
			.right-container {
				background-color: $bg-white;
				display: none;
				.buddy-list {
					margin: 0 15px 15px;
				    padding: 15px 0;
				    border-radius: 0px;					
				    border: 1px solid #eee;
					h4 {
						font-size: 20px;
						margin: 0 15px 15px 15px;
						color: $theme-color;
						position: relative;
						span {
							padding: 4px 10px;
						    font-size: 15px;
						    background-color: rgba(2, 181, 51, 0.15);
						    color: rgba(2, 181, 51, 1);
						    border-radius: 0px;
						    margin-left: 10px;
						}
						button {
							position: absolute;
							right: 0;
							top: -5px;
							border-radius: 0;
				    		background-color: $theme-color;							
				    		border: 1px solid transparent;
						}
					}
				}
				.pending {
					h4 {
						span {
							background-color: rgba(255, 231, 211, 1);
							color: rgba(255, 142, 47, 1);						
						}
					}		
				}
			}
			.health-status {
				.tab-pane > h3 {
					margin-left: 40px;
					font-size: 24px;
					button {
						background-color: $theme-color;
						border-color: transparent;
					}
				}
				.desc {
					border-radius: 0;
				    margin: 0 15px;
				    padding: 15px;
				    margin-bottom: 15px;
				 	border: 1px solid #d8d8d8;
				 	h3 {
				 		margin-left: 10px;
				 	}
				    .health-describ {
						background-color: #fff;
					    padding: 10px;
					    border-radius: 0px;				    	
				    }
				}					
			}
			.right-container.active {  
				display: block;
			}
			#buddy-up, #health-status { 
				clear: both;
			}
			section#buddy-up {
				background-color: #fff;
				padding: 15px 0;
			}
			.nav-tabs {
				margin-bottom: 20px;
				border-bottom: 0px solid transparent;
				background-color: $bg-white;
				padding: 15px 15px 0;
				li {
					margin-bottom: -2px;
					padding: 0 10px 10px;
					a {
						color:#95989A;
						font-size: 18px;
						padding: 10px 0;
						border-bottom: 2px solid transparent;
						&:hover {
							border-color: transparent;
							background-color: transparent;
							border-bottom: 2px solid $theme-color;
							font-weight: bold;
							color: $theme-color;							
						}
					}
				}
				li.active {
					a {
						font-weight: bold;
						color: $theme-color;
						border: 0px solid transparent;
						border-bottom: 2px solid $theme-color;
					}
				}
			}
			.emg-dtl {
				button.dropdown-toggle {
					color: #95989a;
				    background-color: #ffffff;
				    border-color: #ccc;
				    border-radius: 0px;				
				    padding: 6px 15px;
				    height: 35px;
				    width: 100%;
				    text-align: left;
				    position: relative;
				    &:after {
						content: "";
					    position: absolute;
					    right: 15px;
					    height: 10px;
					    width: 10px;
					    top: 9px;
					    border-top: 5px solid transparent;
					    border-bottom: 5px solid #ccc;
					    transform: rotate(45deg);
					    border-left: 5px solid transparent;
					    border-right: 5px solid #ccc;				    	
				    }	
				    &.set {
				    	@include inputStyle;
				    }
				}
				ul.dropdown-menu {
					width: 100%;
					padding: 0;
					li > a {
						padding: 6px 15px;
					}
				}
				span.emergency_success, span.emergency_error {
					float: left;
				    clear: both;
				    margin: 0 0 20px 20px;
				    width: calc(100% - 40px);
				    padding: 10px;
				    border-radius: 4px;
				    color: #fff;
				    display: none;
				}
				span.emergency_success {
				    background-color: #4b8e4b;					
				}
				span.emergency_error {
					background-color: #c53232;
				}
				button.update {
					color: #fff;
				    background-color: $theme-color;
				    border-color: $theme-color;
				    width: 200px;
				    display: inline-block;
				    margin: 0 0 15px 15px;
				    padding: 10px 0;
				    border-radius: 0;
				    float: left;
				    clear: both;
				}
			}
		}
	}
}

.parentAddSick {
	input {
		border-radius: 0;
		box-shadow: none;
		&[type="submit"], textarea, button {
			border-radius: 0;
		}
	}
}