@import 'var.scss';
/* The container */
label.container {
display: inline-block;
    max-width: 90px;
    width: 100%;
    height: 80px;
    margin: 0 5px;
    b {
    font-size: 14px;
    color: #B5B5B5;
    position: absolute;
    left: 0;
    right: 0;
    top: 66px;
    font-weight: lighter;      
    text-align: center;
    }
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
position: absolute;
    top: 8px;
    left: 0;
    height: 80px;
    width: 100%;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #eee;
}
.parents .checkmark:after {
  background-image: url(../../assets/images/png/family.png);
}
.school .checkmark:after {
  background-image: url(../../assets/images/png/teacher.png);
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  /*background-color: #ccc;*/
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ b {
    color: $theme-color;
}
.container input:checked ~ span {
    border: 1px solid $theme-color;
}
.parents.container input:checked ~ .checkmark:after {
    background-image: url(../../assets/images/png/family-hover.png);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
top: 6px;
    left: 0;
    width: 56px;
    height: 51px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
/*.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}*/