@import 'var.scss';
@import 'main.scss';
.login-container {
	height: 100vh;
	.login-poster,  .login-form {
		vertical-align: middle;
		height: 100vh;
		width: 50%;
		display: inline-block;
	}
	.login-poster {
		background-color:#cbcdcc;
		float: left;
	}
	.login-form {
		h2 {
			color: $theme-color;
		}
		p, label{
			font-size: $f16;
			color: #333333DE;
		}
		.rememberMe, .forgetPassword {
			display: inline-block;
			width: 50%;
			float: left;
		} 
		.forgetPassword {
			text-align: right;
		}
		.login-btn {
			text-align: center;
    		clear: both;
    		padding-top: 34px;
    		.btn {
    			width: 100%;
    			background-color: $theme-color;
    			border-color: $theme-color;
    		}
		}
	}
	.login {
		max-width: 250px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: left;
	}
}
