body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

h2 {
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

h2 {
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.login-container {
  height: 100vh;
  background-color: rgba(191, 189, 189, 0.23);
}
.login-container > div {
  display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.login-container .login-poster, .login-container .login-form {
    vertical-align: middle;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
}
.login-container .login-poster {
  background-color: #cbcdcc;
  float: left;
}
.login-container .login-form h2 {
  color: #5AB5EE;
  margin: 0;
  padding-top: 15px; 
}
.login-container .login-form p, .login-container .login-form label {
  font-size: 16px;
  color: #333333DE;
}
.login-container .login-form .rememberMe, .login-container .login-form .forgetPassword {
  display: inline-block;
  width: 50%;
  float: left;
}
.login-container .login-form .forgetPassword {
  text-align: right;
}
.login-container .login-form .login-btn {
  text-align: center;
  clear: both;
  padding-top: 34px;
}
.login-container .login-form .login-btn .btn {
  width: 100%;
  background-color: #5AB5EE;
  border-color: #5AB5EE;
}
.login-container .login {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

/* The container */
label.container {
  display: inline-block;
  max-width: 90px;
  width: 100%;
  height: 80px;
  margin: 0 5px;
}
label.container b {
  font-size: 14px;
  color: #B5B5B5;
  position: absolute;
  left: 0;
  right: 0;
  top: 66px;
  font-weight: lighter;
  text-align: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 80px;
  width: 100%;
  right: 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #eee;
}

.parents .checkmark:after {
  background-image: url(../../assets/images/png/family.png);
}

.school .checkmark:after {
  background-image: url(../../assets/images/png/teacher.png);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  /*background-color: #ccc;*/
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ b {
  color: #5AB5EE;
}

.container input:checked ~ span {
  border: 1px solid #5AB5EE;
}

.parents.container input:checked ~ .checkmark:after {
  background-image: url(../../assets/images/png/family-hover.png);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 56px;
  height: 51px;
  margin: 0 auto;
  right: 0;
  bottom: 0;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
/*.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}*/
.userPage {
  background-color: #F2F2F2;
}
.userPage .navbar-inverse {
  background-color: #ffffff;
  border-radius: 0px;
  margin-bottom: 20px;
}
.userPage .wrapper {
  background-color: #F2F2F2;
  margin: 0 15px;
}
.userPage .wrapper .col-4 {
  width: 23.8%;
  padding: 0 10px 20px;
  display: inline-block;
  background-color: #ffffff;
}
.userPage .wrapper .col-4 ul li {
  display: inline-block;
  margin: 20px 8px 0px;
  text-align: center;
  float: left;
  position: relative;
}
.userPage .wrapper .col-4 ul li a {
  width: 130px;
  height: 110px;
  background-color: #F2F2F2;
  display: inline-block;
  color: #333333DE;
  font-size: 16px;
  padding: 0px 10px;
  border-radius: 5px;
}
.userPage .wrapper .col-4 ul li a span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  padding: 0 5px;
}
.userPage .wrapper .col-4 ul li.info a:before {
  background-image: url(../../assets/images/png/friend.png);
}
.userPage .wrapper .col-4 ul li.active a {
  background-color: #5AB5EE;
  color: #ffffff;
  position: relative;
}
.userPage .wrapper .col-4 ul li.active a:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  background-repeat: no-repeat;
}
.userPage .wrapper .col-4 ul li.info.active a:before {
  background-image: url(../../assets/images/png/businessman.png);
}
.userPage .wrapper .col-8 {
  clear: both;
  display: inline-block;
  width: 74%;
  vertical-align: top;
  margin: 0 0 0 15px;
  background-color: #ffffff;
}
.userPage .wrapper .col-8 .right-container {
  background-color: #F2F2F2;
}
.userPage .wrapper .col-8 .nav-tabs {
  margin-bottom: 20px;
  border-bottom: 0px solid transparent;
  background-color: #ffffff;
  padding: 15px 15px 0;
}
.userPage .wrapper .col-8 .nav-tabs li {
  margin-bottom: -2px;
  padding: 0 10px;
}
.userPage .wrapper .col-8 .nav-tabs li a {
  color: #95989A;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}
.userPage .wrapper .col-8 .nav-tabs li a:hover {
  border-color: transparent;
  background-color: transparent;
  border-bottom: 2px solid #5AB5EE;
  font-weight: bold;
  color: #5AB5EE;
}
.userPage .wrapper .col-8 .nav-tabs li.active a {
  font-weight: bold;
  color: #5AB5EE;
  border: 0px solid transparent;
  border-bottom: 2px solid #5AB5EE;
}
.userPage .wrapper .col-8 .tab-content {
  background-color: #ffffff;
}
.userPage .wrapper .col-8 .tab-content .tab-pane {
  padding: 15px 0;
}
.userPage .wrapper .col-8 .tab-content .tab-pane h3 {
  margin: 0 15px 15px 15px;
  font-size: 28px;
  color: #5AB5EE;
}
.userPage .wrapper .col-8 .tab-content .tab-pane .parent-dtl .form-group {
  position: relative;
}
.userPage .wrapper .col-8 .tab-content .tab-pane .parent-dtl .form-group label {
  color: #95989a;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 18px;
  left: 25px;
}
.userPage .wrapper .col-8 .tab-content .tab-pane .parent-dtl .form-control {
  height: 60px;
  font-size: 18px;
  color: #333333DE;
  font-weight: 600;
  padding-top: 20px;
}
.userPage .wrapper .col-8 .tab-content .tab-pane .parent-dtl .form-control:focus ~ label {
  top: 6px;
}
.userPage .wrapper .col-8 .tab-content .tab-pane .parent-dtl textarea.form-control {
  width: 100%;
  display: block;
  height: 150px;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
