body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #F2F2F2;
}

h2 {
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.tab-content, .buddy-up {
  background-color: #ffffff;
}
.tab-content .tab-pane, .buddy-up .tab-pane {
  padding: 15px 0;
}
.tab-content h3, .buddy-up h3 {
  margin: 0 15px 15px 15px;
  font-size: 26px;
  color: #5AB5EE;
  position: relative;
}
.tab-content h3 button, .buddy-up h3 button {
  position: absolute;
  right: 0;
  bottom: -5px;
  font-size: 14px;
}
.tab-content form .form-group, .buddy-up form .form-group {
  position: relative;
}
.tab-content form .form-group.col-6, .buddy-up form .form-group.col-6 {
  width: 50%;
  display: inline-block;
  padding: 0 15px;
}
.form-group {
  margin-top: 20px;
}
form.add-student .form-group label {
  color: #95989a;
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  top: -24px;
}
form.add-student .form-control {
  height: 35px;
  font-size: 13px;
  color: #333333DE;
  font-weight: 400;
  padding-top: 6px;
  border-radius: 4px !important;
}
form.add-student select.form-control {
  padding-top: 0;
}
form.add-student textarea.form-control {
  height: 170px;
}
form.add-student input[type='submit'] {
    padding: 10px 20px 10px 20px;
    background-color: #4d9cf8;
    color: #fff;  
    border-radius: 4px;
    border: none;
}
/*.tab-content form .form-control:focus ~ label, .buddy-up form .form-control:focus ~ label {
  top: 6px;
}*/
.tab-content form textarea.form-control, .buddy-up form textarea.form-control {
  width: 100%;
  display: block;
  height: 150px;
  border-radius: 4px;
}

.addNewCase .modal-header {
  border-bottom: 0px solid transparent;
}
.addNewCase .modal-header h4 {
  color: #5AB5EE;
}
.addNewCase .modal-header .close {
  border: 1px solid #5AB5EE;
  color: #5AB5EE;
  padding: 3px 7px 2px;
  border-radius: 50%;
  opacity: 1;
}
.addNewCase .modal-body {
  padding: 0 15px;
}
.addNewCase .modal-body p {
  font-weight: 800;
}
.addNewCase .modal-body form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 4px;
}
.addNewCase .modal-footer {
  border-top: 0px solid transparent;
  text-align: left;
}
.addNewCase .modal-footer button {
  background-color: #5AB5EE;
  color: #ffffff;
}

ul.dropdown-menu.notifications {
  min-width: 330px;
}
.dropdown-menu > li.total > a {
    font-size: 16px;
    text-transform: none;
    color: #bfb5b5;
    display: inline-block;
}
/*# sourceMappingURL=main.css.map */
