body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #ffffff; }

h2 {
  font-size: 28px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto; }

.tab-content, .buddy-up, .allergicReaction {
  background-color: #ffffff; }
  .tab-content .tab-pane, .buddy-up .tab-pane, .allergicReaction .tab-pane {
    padding: 15px 0; }
  .tab-content h3, .buddy-up h3, .allergicReaction h3 {
    margin: 0 15px 15px 25px;
    font-size: 18px;
    color: #367cb8;
    position: relative; }
    .tab-content h3 button, .buddy-up h3 button, .allergicReaction h3 button {
      position: absolute;
      right: 0;
      bottom: -5px;
      font-size: 14px;
      border-radius: 0; }
  .tab-content form, .buddy-up form, .allergicReaction form {
    margin: 10px;
    /*    	.form-control:focus ~ label {
        		top: 6px;
        	}*/ }
    .tab-content form .form-group, .buddy-up form .form-group, .allergicReaction form .form-group {
      position: relative;
      margin-top: 5px; }
    .tab-content form .form-group.col-6, .buddy-up form .form-group.col-6, .allergicReaction form .form-group.col-6 {
      width: 50%;
      display: inline-block;
      padding: 0 15px; }
    .tab-content form .form-group label, .buddy-up form .form-group label, .allergicReaction form .form-group label {
      color: #95989a;
      font-size: 15px;
      font-weight: 800;
      position: absolute;
      top: -25px;
      /*display: none;*/ }
    .tab-content form .form-control, .buddy-up form .form-control, .allergicReaction form .form-control {
      height: 45px;
      font-size: 15px;
      color: "#333333DE";
      font-weight: 400;
      padding-top: 6px;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 15px; }
    .tab-content form textarea.form-control, .buddy-up form textarea.form-control, .allergicReaction form textarea.form-control {
      width: 100%;
      display: block;
      height: 150px;
      border-radius: 0px;
      box-shadow: none; }

.addNewCase .modal-header {
  border-bottom: 0px solid transparent; }
  .addNewCase .modal-header h4 {
    color: #367cb8; }
  .addNewCase .modal-header .close {
    border: 1px solid #367cb8;
    color: #367cb8;
    padding: 3px 7px 2px;
    border-radius: 50%;
    opacity: 1; }
.addNewCase .modal-body {
  padding: 0 15px; }
  .addNewCase .modal-body p {
    font-weight: 800; }
  .addNewCase .modal-body form textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 0px; }
.addNewCase .modal-footer {
  border-top: 0px solid transparent;
  text-align: left; }
  .addNewCase .modal-footer button {
    background-color: #367cb8;
    color: #ffffff;
    border-radius: 0; }

.allergicReaction form .form-group {
  margin-top: 40px; }

.logo img {
  width: 150px; }

.login-container {
  height: 100%;
  background-color: rgba(191, 189, 189, 0.23); }
  .login-container > div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }
  .login-container .login-poster, .login-container .login-form {
    vertical-align: middle;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px; }
  .login-container .login-poster {
    background-color: #cbcdcc;
    float: left; }
  .login-container .login-form h2 {
    color: #367cb8; }
  .login-container .login-form p, .login-container .login-form label {
    font-size: 16px;
    color: #333333DE; }
  .login-container .login-form .rememberMe, .login-container .login-form .forgetPassword {
    display: inline-block;
    width: 50%;
    float: left; }
  .login-container .login-form .forgetPassword {
    text-align: right; }
  .login-container .login-form .login-btn {
    text-align: center;
    clear: both;
    padding-top: 34px; }
    .login-container .login-form .login-btn .btn {
      width: 100%;
      background-color: #367cb8;
      border-color: #367cb8; }
  .login-container .login-form .socialLink {
    border-radius: 50%;
    padding: 8px 10px;
    border: 1px solid #eee;
    margin: 4px; }
    .login-container .login-form .socialLink.facebook {
      color: #1877f2; }
    .login-container .login-form .socialLink.twitter {
      color: #1da1f2; }
    .login-container .login-form .socialLink.insta {
      color: #c32aa3; }
    .login-container .login-form .socialLink.pin {
      color: #bd081c; }
  .login-container .login {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    text-align: left; }
    .login-container .login .parents .checkmark {
      background-color: rgba(10, 30, 43, 0.93);
      border-radius: 50px;
      top: 4px;
      height: 90px; }
    .login-container .login .school .checkmark {
      background-color: rgba(10, 30, 43, 0.93); }

.chooseChild {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .chooseChild .wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto; }
    .chooseChild .wrapper h2 {
      margin-bottom: 40px;
      margin-top: 0;
      text-align: left; }
    .chooseChild .wrapper ul.list a {
      display: inline-block;
      vertical-align: top; }
      .chooseChild .wrapper ul.list a:nth-child(1) li {
        background-color: #266745; }
      .chooseChild .wrapper ul.list a:nth-child(2) li {
        background-color: #844825; }
      .chooseChild .wrapper ul.list a:nth-child(3) li {
        background-color: #252884; }
      .chooseChild .wrapper ul.list a:nth-child(4) li {
        background-color: #84255a; }
    .chooseChild .wrapper ul.list li {
      display: inline-block;
      width: 150px;
      text-align: center;
      max-width: 150px;
      height: 150px;
      vertical-align: top;
      padding: 0;
      border-radius: 50%;
      margin: 0 10px;
      position: relative; }
      .chooseChild .wrapper ul.list li a {
        color: transparent;
        font-size: 29px;
        font-weight: 800;
        position: relative; }
        .chooseChild .wrapper ul.list li a:before {
          content: '';
          position: absolute;
          width: 70px;
          height: 46px;
          border-right: 1px solid #ffffff00;
          border-radius: 50%;
          bottom: -36px;
          left: -24px;
          border-bottom: 1px solid #fff;
          border-top: 1px solid #fff0;
          border-left: 1px solid #ffffff00;
          transform: rotateX(-16deg); }
      .chooseChild .wrapper ul.list li:before {
        content: '';
        position: absolute;
        background-color: transparent;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #fff;
        left: 45px;
        top: 60px; }
      .chooseChild .wrapper ul.list li:after {
        content: '';
        position: absolute;
        background-color: transparent;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #fff;
        right: 45px;
        top: 60px; }
    .chooseChild .wrapper ul.list span {
      display: block;
      max-width: 200px; }

.genMedical, .allergicReaction, .asthmaCare {
  clear: both;
  float: none;
  background-color: #fff; }

.genMedical form, .asthmaCare form, .allergicReaction section {
  margin: 0px auto;
  text-align: left;
  padding: 10px 30px; }

.tab-content form.asthmaForm .form-group input[type='checkbox'] + label {
  top: 5px;
  padding-left: 7px; }

.genMedical form > button {
  color: #fff;
  width: 120px;
  float: left;
  clear: both;
  border-radius: 0; }

.newRes {
  margin: 40px 0px;
  text-align: center; }

.newRes button {
  border: none;
  background-color: transparent; }

.newRes i {
  border: 1px solid #000;
  font-size: 25px;
  padding: 10px 15px;
  border-radius: 50%; }

.allergicReaction ul {
  list-style: disc;
  padding: 0;
  margin: 0 35px;
  line-height: 30px;
  font-size: 15px; }

.allergicReaction section.item3 form {
  margin-top: 30px;
  width: 50%; }

form#allergicReaction button {
  border-radius: 0;
  background-color: #367cb8;
  border-color: transparent; }

.asthmaCare .asthmaForm input[type='checkbox'] {
  display: inline-block;
  box-shadow: none;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-top: 5px; }

.radioButton {
  float: right;
  margin: -1px 25% 0 0; }

#asthmaAttack, #knowasthma {
  height: 150px; }

.medicationPlan_container, .firstAid_container {
  margin: 25px 0; }

#htab2 h3, #htab3 h3 {
  margin-left: 25px; }

#htab2 .form-group {
  margin-bottom: 40px; }

/*# sourceMappingURL=login.css.map */
