body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #ffffff; }

h2 {
  font-size: 28px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto; }

.tab-content, .buddy-up, .allergicReaction {
  background-color: #ffffff; }
  .tab-content .tab-pane, .buddy-up .tab-pane, .allergicReaction .tab-pane {
    padding: 15px 0; }
  .tab-content h3, .buddy-up h3, .allergicReaction h3 {
    margin: 0 15px 15px 25px;
    font-size: 18px;
    color: #367cb8;
    position: relative; }
    .tab-content h3 button, .buddy-up h3 button, .allergicReaction h3 button {
      position: absolute;
      right: 0;
      bottom: -5px;
      font-size: 14px;
      border-radius: 0; }
  .tab-content form, .buddy-up form, .allergicReaction form {
    margin: 10px;
    /*    	.form-control:focus ~ label {
        		top: 6px;
        	}*/ }
    .tab-content form .form-group, .buddy-up form .form-group, .allergicReaction form .form-group {
      position: relative;
      margin-top: 5px; }
    .tab-content form .form-group.col-6, .buddy-up form .form-group.col-6, .allergicReaction form .form-group.col-6 {
      width: 50%;
      display: inline-block;
      padding: 0 15px; }
    .tab-content form .form-group label, .buddy-up form .form-group label, .allergicReaction form .form-group label {
      color: #95989a;
      font-size: 15px;
      font-weight: 800;
      position: absolute;
      top: -25px;
      /*display: none;*/ }
    .tab-content form .form-control, .buddy-up form .form-control, .allergicReaction form .form-control {
      height: 45px;
      font-size: 15px;
      color: "#333333DE";
      font-weight: 400;
      padding-top: 6px;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 15px; }
    .tab-content form textarea.form-control, .buddy-up form textarea.form-control, .allergicReaction form textarea.form-control {
      width: 100%;
      display: block;
      height: 150px;
      border-radius: 0px;
      box-shadow: none; }

.addNewCase .modal-header {
  border-bottom: 0px solid transparent; }
  .addNewCase .modal-header h4 {
    color: #367cb8; }
  .addNewCase .modal-header .close {
    border: 1px solid #367cb8;
    color: #367cb8;
    padding: 3px 7px 2px;
    border-radius: 50%;
    opacity: 1; }
.addNewCase .modal-body {
  padding: 0 15px; }
  .addNewCase .modal-body p {
    font-weight: 800; }
  .addNewCase .modal-body form textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 0px; }
.addNewCase .modal-footer {
  border-top: 0px solid transparent;
  text-align: left; }
  .addNewCase .modal-footer button {
    background-color: #367cb8;
    color: #ffffff;
    border-radius: 0; }

.allergicReaction form .form-group {
  margin-top: 40px; }

/*# sourceMappingURL=main.css.map */
