.buddy-search{overflow:hidden; margin-bottom: 20px;}
.buddy-up .buddy_search_title{margin-top: 20px;}
.buddy_search_list_wrapper {background:#f2f2f2; border-radius: 5px; padding: 15px 25px 15px 135px; margin: 0px 10px;width: 97%;}
.buddy_search_list_wrapper img{position: absolute; left: 10px; top: 19px;} 
.buddy_search_list_wrapper p{font-size: 16px; display: inline-block; margin: 0px 40px 8px 0px;width: 43%; vertical-align: top;}
.buddy_search_list_wrapper p strong{color: #999; margin-right: 8px; font-weight: 800;}
.buddy_search_list_wrapper form{margin: 0px;}
.buddy_search_list_wrapper form .btn-primary{margin-top: 8px; margin-bottom: 5px;}
.alert_wrapper{padding: 0px 25px;}
.buddy-up .buddy-list form .form-group{margin: 15px 0px 0px;}
.buddy-up .buddy-list form .form-group label{display: inline-block; position: relative; top: 0px; margin-right:10px;  }
.buddy-list .btn.btn_unfollow {right: 150px !important;background: #f76060;
color: #fff; text-transform: capitalize; }



/*========dashboard============*/

.userPage .wrapper .col-4 ul li.dashboard a:before {
    background-image: url(../../assets/images/png/dashboard.png);
}.userPage .wrapper .col-4 ul li.dashboard.active a::before {
    background-image: url(../../assets/images/png/dashboard-hover.png);
}

.main_dashboard{background: #fff; padding: 15px; }
.health_score{background: #163466;margin-bottom: 15px;padding: 15px; color: #fff;}
.health_score .fa.fa-heart-o {background: #fff; color: #000; padding:6px 6.5px 3px 7px; line-height: normal; border-radius: 68px; margin-right: 5px }

.human_body_score_wr{ text-align: center;padding-top: 20px; }
.human_body_score{width: 70px; height: 133px; position:relative; display: inline-block;}
.human_body_score.bg{background: #fff;}
.human_body_score img{position: absolute; z-index: 9; top: 0px; left: 0px; }
.human_body_score span{background: #779dc2; width: 70px; bottom: 0px; position: absolute; left: 0px; z-index: 1;}
.human_body_score span.score_10{height: 10px;}
.human_body_score span.score_20{height: 20px;}
.human_body_score span.score_30{height: 30px;}
.human_body_score span.score_40{height: 40px;}
.human_body_score span.score_50{height: 60px;}
.human_body_score span.score_60{height: 70px;}
.human_body_score span.score_70{height: 80px;}
.human_body_score span.score_80{height: 90px;}
.human_body_score span.score_90{height: 100px;}
.human_body_score span.score_100{height: 133px;}



.color-red {
  stop-color: #e23131;
}

.color-yellow {
  stop-color: #fbe500;
}

.color-green {
  stop-color: #25cd6b;
}
.gradient-mask {
  visibility: hidden;
}

.button {
  position: absolute;
  right: 40px;
  top: 40px;
  border: 2px solid #fff;
  background-color: #26323a;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}
.button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  outline: 0;
}
.button:hover, .button:focus {
  outline: 0;
  background: linear-gradient(-140deg, #212629, #395467);
}

.gauge-container {
  padding: 20px;margin-top: 30px; 
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.gauge {
  height: 180px;
  width: 200px;
}
.gauge .dxg-range.dxg-background-range {
  fill: url(#gradientGauge);
}
.gauge .dxg-line {
  -webkit-transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
          transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
}
.gauge .dxg-line path:first-child,
.gauge .dxg-line path:last-child {
  display: none;
}
.gauge .dxg-line path:nth-child(2),
.gauge .dxg-line path:nth-child(6) {
  stroke: #25cd6b;
}
.gauge .dxg-line path:nth-child(3),
.gauge .dxg-line path:nth-child(5) {
  stroke: #25cd6b;
}
.gauge .dxg-line path:nth-child(4) {
  stroke: #25cd6b;
}
.gauge .dxg-elements text:first-child {
  -webkit-transform: translate(19px, 13px);
          transform: translate(19px, 13px);
}
.gauge .dxg-elements text:last-child {
  -webkit-transform: translate(-27px, 14px);
          transform: translate(-27px, 14px);
}
.gauge .dxg-value-indicator path {
  -webkit-transform: scale(1.2) translate(0, -5px);
          transform: scale(1.2) translate(0, -5px);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.gauge .dxg-value-indicator .dxg-title {
  text-transform: uppercase;
}
.gauge .dxg-value-indicator .dxg-title text:first-child {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.gauge .dxg-value-indicator .dxg-spindle-border:nth-child(4),
.gauge .dxg-value-indicator .dxg-spindle-hole:nth-child(5) {
  -webkit-transform: translate(0, -59px);
          transform: translate(0, -59px);
}
.gauge .dxg-value-indicator .dxg-spindle-hole {
  fill: #26323a;
}

.progress_wr{position: relative; display: inline-block; width: 30px; height: 133px; vertical-align: top;} 
.progress{transform: rotate(-90deg);margin-top: 56px; width: 130px; padding: 0px; margin-left: -50px;} 
.bg-color1{background: #59c600}
.bg-color2{background: #0e8bc3}
.bg-color3{background: #6f1788}




.chart_wr{background: #fff; padding: 10px 15px;}
.calendar_wr{background: #fff; padding: 10px 15px;}
.calendar_wr h4{margin: 0px 0px 10px;font-size: 16px; }
.calendar_wr table{width: 100%;}
.calendar_wr table tr td{padding: 5px; border-bottom: 1px solid #ececec; color: #666;}
.calendar_wr table tr td:nth-child(1n){width: 60%; text-transform: capitalize;}
.calendar_wr table tr td:nth-child(2n){width: 30%;text-transform: capitalize;}
.calendar_wr table tr td:nth-child(3n){width: 10%;}
.calendar_wr button{margin:10px 0px 0px;}



.filter{margin:5px 0px 20px;}
.filter .nav_list label{display: inline-block; font-weight: normal;}
.filter .nav_list select{display: inline-block;max-width: 50px; padding: 0px 0px 0px 3px; margin-left: 5px;}
.filter .filter_search{position: relative;}
.filter .filter_search input{width: 92%; vertical-align: top; display: inline-block;}
.filter .filter_search button{display: inline-block; vertical-align: top; padding: 6px 10px; margin-left: 5px; border-radius: 3px; border: 1px solid #ccc;}
.filter .filter_ad_search{display:none;position: absolute; width: 60%; right: 14px; background: #fff; padding: 20px; border: 1px solid #ccc; top: 39px;z-index: 9999}
.filter .filter_ad_search input{width: 100%;}
.filter .filter_ad_search label{display: block; text-align: left;}
.filter .filter_ad_search button{border-radius: 5px; border-color: #337ab7;}


.health-status .desc {padding: 5px !important; margin: 5px 30px 1px !important; border: 5px solid #ebebeb !important; }
.health-status .desc .health-describ{padding: 10px 0px !important;}
.health-describ .sick_reason_list .date{ color: #0e074b; display: inline-block; font-size: 24px; width: 100px; height: 80px; float: left; text-align: center; padding: 5px 5px 15px; margin-right: 5px;} 
.health-describ .sick_reason_list .date span{font-weight: normal; display: block;font-size: 14px;}
.health-describ .sick_reason_list p{display: inline-block; width: 80%; vertical-align: top;}
.health-describ .sick_reason_list p.sick_reason{font-size: 17px; margin-top: 5px; margin-bottom: 5px; color: #808080;}
.health-describ .sick_reason_list p.sick_reason b{color: #000;}
.health-describ .sick_reason_list p.symptoms{color: #367cb8}
