body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #ffffff; }

h2 {
  font-size: 28px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto; }

.tab-content, .buddy-up, .allergicReaction {
  background-color: #ffffff; }
  .tab-content .tab-pane, .buddy-up .tab-pane, .allergicReaction .tab-pane {
    padding: 15px 0; }
  .tab-content h3, .buddy-up h3, .allergicReaction h3 {
    margin: 0 15px 15px 25px;
    font-size: 18px;
    color: #367cb8;
    position: relative; }
    .tab-content h3 button, .buddy-up h3 button, .allergicReaction h3 button {
      position: absolute;
      right: 0;
      bottom: -5px;
      font-size: 14px;
      border-radius: 0; }
  .tab-content form, .buddy-up form, .allergicReaction form {
    margin: 10px;
    /*    	.form-control:focus ~ label {
        		top: 6px;
        	}*/ }
    .tab-content form .form-group, .buddy-up form .form-group, .allergicReaction form .form-group {
      position: relative;
      margin-top: 5px; }
    .tab-content form .form-group.col-6, .buddy-up form .form-group.col-6, .allergicReaction form .form-group.col-6 {
      width: 50%;
      display: inline-block;
      padding: 0 15px; }
    .tab-content form .form-group label, .buddy-up form .form-group label, .allergicReaction form .form-group label {
      color: #95989a;
      font-size: 15px;
      font-weight: 800;
      position: absolute;
      top: -25px;
      /*display: none;*/ }
    .tab-content form .form-control, .buddy-up form .form-control, .allergicReaction form .form-control {
      height: 45px;
      font-size: 15px;
      color: "#333333DE";
      font-weight: 400;
      padding-top: 6px;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 15px; }
    .tab-content form textarea.form-control, .buddy-up form textarea.form-control, .allergicReaction form textarea.form-control {
      width: 100%;
      display: block;
      height: 150px;
      border-radius: 0px;
      box-shadow: none; }

.addNewCase .modal-header {
  border-bottom: 0px solid transparent; }
  .addNewCase .modal-header h4 {
    color: #367cb8; }
  .addNewCase .modal-header .close {
    border: 1px solid #367cb8;
    color: #367cb8;
    padding: 3px 7px 2px;
    border-radius: 50%;
    opacity: 1; }
.addNewCase .modal-body {
  padding: 0 15px; }
  .addNewCase .modal-body p {
    font-weight: 800; }
  .addNewCase .modal-body form textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 0px; }
.addNewCase .modal-footer {
  border-top: 0px solid transparent;
  text-align: left; }
  .addNewCase .modal-footer button {
    background-color: #367cb8;
    color: #ffffff;
    border-radius: 0; }

.allergicReaction form .form-group {
  margin-top: 40px; }

.userPage {
  background-color: #ffffff; }
  .userPage .navbar-inverse .navbar-nav > .open > a, .userPage .navbar-inverse .navbar-nav > .open > a:hover, .userPage .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #367cb8 !important;
    color: #fff !important; }
  .userPage .navbar-inverse .navbar-nav > li > a:hover, .userPage .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #367cb8 !important;
    color: #fff !important; }
  .userPage .navbar-inverse .navbar-nav > li > a {
    border-radius: 0; }
  .userPage .navbar-inverse {
    background-color: #ffffff;
    border-radius: 0px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06); }
    .userPage .navbar-inverse .navbar-nav #notification {
      padding: 9px; }
      .userPage .navbar-inverse .navbar-nav #notification:focus {
        background-color: transparent; }
    .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications {
      min-width: 320px;
      top: 36px;
      right: -74px; }
      .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.total {
        padding: 0 15px;
        color: rgba(54, 124, 186, 0.72); }
        .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.total > a {
          padding: 0;
          text-transform: none;
          border-bottom: none;
          color: rgba(54, 124, 186, 0.72); }
        .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.total:before {
          content: '';
          width: 18px;
          height: 18px;
          background-color: #ffffff;
          top: -10px;
          right: 80px;
          position: absolute;
          margin: 0 auto;
          transform: rotate(45deg);
          z-index: -1;
          border-left: 1px solid #f3f3f3;
          border-top: 1px solid #f3f3f3; }
      .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.ps-container {
        margin: 0 15px;
        border-top: 1px solid #eee; }
        .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.ps-container .ps-scrollbar li {
          padding: 12px 0;
          border-bottom: 1px solid #eee;
          margin-bottom: 10px; }
          .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.ps-container .ps-scrollbar li a {
            color: #707171; }
            .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.ps-container .ps-scrollbar li a span.name span.time {
              display: block;
              line-height: 5px;
              color: rgba(152, 148, 148, 0.6); }
            .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.ps-container .ps-scrollbar li a > div {
              display: inline-block;
              vertical-align: middle; }
              .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.ps-container .ps-scrollbar li a > div.notice-icon {
                padding: 10px;
                line-height: 0;
                border-radius: 50%;
                background-color: #367cb8;
                margin-right: 10px;
                color: #fff; }
          .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.ps-container .ps-scrollbar li:last-child {
            margin-bottom: 0;
            border-bottom: none; }
      .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.external {
        background-color: #367cb8; }
        .userPage .navbar-inverse .navbar-nav ul.dropdown-menu.notifications > li.external a {
          color: rgba(152, 148, 148, 0.6);
          text-transform: none;
          font-size: 14px;
          text-align: center;
          color: #fff; }
  .userPage .wrapper {
    background-color: #ffffff;
    margin: 0 15px; }
    .userPage .wrapper .col-4 {
      width: 23.8%;
      padding: 0 10px 20px;
      display: inline-block;
      background-color: #ffffff;
      height: 100%;
      bottom: 0;
      position: fixed;
      top: 75px;
      min-width: 325px; }
      .userPage .wrapper .col-4 ul li {
        display: inline-block;
        margin: 0px 8px 20px;
        text-align: center;
        float: left;
        position: relative; }
        .userPage .wrapper .col-4 ul li a {
          width: 130px;
          height: 110px;
          background-color: #ffffff;
          display: inline-block;
          color: #367cb8;
          font-size: 16px;
          padding: 0px 10px;
          border-radius: 0px;
          box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06); }
          .userPage .wrapper .col-4 ul li a span {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 15px;
            padding: 0 5px; }
      .userPage .wrapper .col-4 ul li.info a:before {
        background-image: url(../../assets/images/png/businessman.png); }
      .userPage .wrapper .col-4 ul li.Buddy a:before {
        background-image: url(../../assets/images/png/friend.png); }
      .userPage .wrapper .col-4 ul li.health a:before {
        background-image: url(../../assets/images/png/care.png); }
      .userPage .wrapper .col-4 ul li.activity a:before {
        background-image: url(../../assets/images/png/track.png); }
      .userPage .wrapper .col-4 ul li.articles a:before {
        background-image: url(../../assets/images/png/article.png); }
      .userPage .wrapper .col-4 ul li.notification a:before {
        background-image: url(../../assets/images/png/mail.png); }
      .userPage .wrapper .col-4 ul li.payments a:before {
        background-image: url(../../assets/images/png/wallet.png); }
      .userPage .wrapper .col-4 ul li.active a {
        background-color: #367cb8;
        color: #ffffff;
        position: relative; }
      .userPage .wrapper .col-4 ul li a:before {
        content: '';
        position: absolute;
        height: 40px;
        width: 40px;
        left: 0;
        right: 0;
        top: 20px;
        margin: auto;
        background-repeat: no-repeat; }
      .userPage .wrapper .col-4 ul li.info.active a:before {
        background-image: url(../../assets/images/png/businessman-hover.png); }
      .userPage .wrapper .col-4 ul li.Buddy.active a:before {
        background-image: url(../../assets/images/png/friend-hover.png); }
      .userPage .wrapper .col-4 ul li.health.active a:before {
        background-image: url(../../assets/images/png/care-hover.png); }
      .userPage .wrapper .col-4 ul li.activity.active a:before {
        background-image: url(../../assets/images/png/friend.png); }
      .userPage .wrapper .col-4 ul li.articles.active a:before {
        background-image: url(../../assets/images/png/friend.png); }
      .userPage .wrapper .col-4 ul li.notification.active a:before {
        background-image: url(../../assets/images/png/friend.png); }
      .userPage .wrapper .col-4 ul li.payments.active a:before {
        background-image: url(../../assets/images/png/friend.png); }
    .userPage .wrapper .col-8 {
      clear: both;
      display: inline-block;
      width: 74%;
      vertical-align: top;
      margin: 75px 0 0 343px;
      height: calc(100% - 75px);
      background-color: #ffffff;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06); }
      .userPage .wrapper .col-8 .right-container {
        background-color: #ffffff;
        display: none; }
        .userPage .wrapper .col-8 .right-container .buddy-list {
          margin: 0 15px 15px;
          padding: 15px 0;
          border-radius: 0px;
          border: 1px solid #eee; }
          .userPage .wrapper .col-8 .right-container .buddy-list h4 {
            font-size: 20px;
            margin: 0 15px 15px 15px;
            color: #367cb8;
            position: relative; }
            .userPage .wrapper .col-8 .right-container .buddy-list h4 span {
              padding: 4px 10px;
              font-size: 15px;
              background-color: rgba(2, 181, 51, 0.15);
              color: #02b533;
              border-radius: 0px;
              margin-left: 10px; }
            .userPage .wrapper .col-8 .right-container .buddy-list h4 button {
              position: absolute;
              right: 0;
              top: -5px;
              border-radius: 0;
              background-color: #367cb8;
              border: 1px solid transparent; }
        .userPage .wrapper .col-8 .right-container .pending h4 span {
          background-color: #ffe7d3;
          color: #ff8e2f; }
      .userPage .wrapper .col-8 .health-status .tab-pane > h3 {
        margin-left: 40px;
        font-size: 24px; }
        .userPage .wrapper .col-8 .health-status .tab-pane > h3 button {
          background-color: #367cb8;
          border-color: transparent; }
      .userPage .wrapper .col-8 .health-status .desc {
        border-radius: 0;
        margin: 0 15px;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid #d8d8d8; }
        .userPage .wrapper .col-8 .health-status .desc h3 {
          margin-left: 10px; }
        .userPage .wrapper .col-8 .health-status .desc .health-describ {
          background-color: #fff;
          padding: 10px;
          border-radius: 0px; }
      .userPage .wrapper .col-8 .right-container.active {
        display: block; }
      .userPage .wrapper .col-8 #buddy-up, .userPage .wrapper .col-8 #health-status {
        clear: both; }
      .userPage .wrapper .col-8 section#buddy-up {
        background-color: #fff;
        padding: 15px 0; }
      .userPage .wrapper .col-8 .nav-tabs {
        margin-bottom: 20px;
        border-bottom: 0px solid transparent;
        background-color: #ffffff;
        padding: 15px 15px 0; }
        .userPage .wrapper .col-8 .nav-tabs li {
          margin-bottom: -2px;
          padding: 0 10px 10px; }
          .userPage .wrapper .col-8 .nav-tabs li a {
            color: #95989A;
            font-size: 18px;
            padding: 10px 0;
            border-bottom: 2px solid transparent; }
            .userPage .wrapper .col-8 .nav-tabs li a:hover {
              border-color: transparent;
              background-color: transparent;
              border-bottom: 2px solid #367cb8;
              font-weight: bold;
              color: #367cb8; }
        .userPage .wrapper .col-8 .nav-tabs li.active a {
          font-weight: bold;
          color: #367cb8;
          border: 0px solid transparent;
          border-bottom: 2px solid #367cb8; }
      .userPage .wrapper .col-8 .emg-dtl button.dropdown-toggle {
        color: #95989a;
        background-color: #ffffff;
        border-color: #ccc;
        border-radius: 0px;
        padding: 6px 15px;
        height: 35px;
        width: 100%;
        text-align: left;
        position: relative; }
        .userPage .wrapper .col-8 .emg-dtl button.dropdown-toggle:after {
          content: "";
          position: absolute;
          right: 15px;
          height: 10px;
          width: 10px;
          top: 9px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid #ccc;
          transform: rotate(45deg);
          border-left: 5px solid transparent;
          border-right: 5px solid #ccc; }
        .userPage .wrapper .col-8 .emg-dtl button.dropdown-toggle.set {
          font-size: 15px;
          color: "#333333DE";
          font-weight: 400; }
      .userPage .wrapper .col-8 .emg-dtl ul.dropdown-menu {
        width: 100%;
        padding: 0; }
        .userPage .wrapper .col-8 .emg-dtl ul.dropdown-menu li > a {
          padding: 6px 15px; }
      .userPage .wrapper .col-8 .emg-dtl span.emergency_success, .userPage .wrapper .col-8 .emg-dtl span.emergency_error {
        float: left;
        clear: both;
        margin: 0 0 20px 20px;
        width: calc(100% - 40px);
        padding: 10px;
        border-radius: 4px;
        color: #fff;
        display: none; }
      .userPage .wrapper .col-8 .emg-dtl span.emergency_success {
        background-color: #4b8e4b; }
      .userPage .wrapper .col-8 .emg-dtl span.emergency_error {
        background-color: #c53232; }
      .userPage .wrapper .col-8 .emg-dtl button.update {
        color: #fff;
        background-color: #367cb8;
        border-color: #367cb8;
        width: 200px;
        display: inline-block;
        margin: 0 0 15px 15px;
        padding: 10px 0;
        border-radius: 0;
        float: left;
        clear: both; }

.parentAddSick input {
  border-radius: 0;
  box-shadow: none; }
  .parentAddSick input[type="submit"], .parentAddSick input textarea, .parentAddSick input button {
    border-radius: 0; }

/*# sourceMappingURL=userpage.css.map */
