@import "var.scss";
.userPage {
	background-color: $bg-gray;
	.navbar-inverse {
		background-color: $bg-white;
		border-radius: 0px;
		margin-bottom: 20px;
	}
	.wrapper {
		background-color: $bg-gray;
		margin: 0 15px;
		.col-4 {
			width: 23.8%;
			padding: 0 10px 20px;
			display: inline-block;
			background-color: $bg-white;
			ul {   			
				li {
					display: inline-block;
					margin: 20px 8px 0px;
					text-align: center;
					float: left;
				    position: relative;	
					a {
						width: 130px;
						height: 110px;
						background-color: $bg-gray;
						display: inline-block;
						color: $nav-font-color;
						font-size: $f16;
						padding: 0px 10px;
						border-radius: 5px;
						span {
						position: absolute;
					    left: 0;
					    right: 0;
					    bottom: 15px;
					    padding: 0 5px;
						}
					}
				}
				li.info a:before {					
					background-image: url(../../assets/images/png/friend.png);
				}
				li.active {
					a {
						background-color: $theme-color;
						color: $bg-white;
						position: relative;
					}
				}
				li.active a:before {
					content: '';
					position: absolute;
					height: 40px;
					width: 40px;
					left: 0;
					right: 0;
					top: 20px;
					margin: auto;
					background-repeat: no-repeat;
				}						     
				li.info.active a:before {
					background-image: url(../../assets/images/png/businessman.png);
				}
			}			
		}
		.col-8 {
			clear: both;
			display: inline-block;
			width: 74%;
			vertical-align: top;
			margin: 0 0 0 15px;
			background-color: $bg-white;
			.right-container {
				background-color: $bg-gray;
			}
			.nav-tabs {
				margin-bottom: 20px;
				border-bottom: 0px solid transparent;
				background-color: $bg-white;
				padding: 15px 15px 0;
				li {
					margin-bottom: -2px;
					padding: 0 10px;
					a {
						color:#95989A;
						font-size: 18px;
						padding: 10px 0;
						border-bottom: 2px solid transparent;
						&:hover {
							border-color: transparent;
							background-color: transparent;
							border-bottom: 2px solid $theme-color;
							font-weight: bold;
							color: $theme-color;							
						}
					}
				}
				li.active {
					a {
						font-weight: bold;
						color: $theme-color;
						border: 0px solid transparent;
						border-bottom: 2px solid $theme-color;
					}
				}
			}
			.tab-content {
				background-color: $bg-white;
				.tab-pane {
				    padding: 15px 0;
				    h3 {
				    	margin: 0 15px 15px 15px;
				    	font-size: 28px;
				    	color:$theme-color;
				    }
				    .parent-dtl {
				    	.form-group {
				    		position: relative;
				    	}
				    	.form-group label{
				    		color: $form-label;
				    		font-size: 14px;
				    		font-weight: 400;
				    		position: absolute;
			    		    top: 18px;
    						left: 25px;
				    	}
				    	.form-control {
				    		height: 60px;
				    		font-size: 18px;
				    		color: $nav-font-color;
				    		font-weight: 600;
				    		padding-top: 20px;
				    	}
				    	.form-control:focus ~ label {
				    		top: 6px;
				    	}
				    	textarea.form-control {
				    		width: 100%;
				    		display: block;
				    		height: 150px;
				    		border-radius: 4px;
				    	}
				    }
				}
			}
		}
	}
}